.App {
  height: 98vh;
  text-align: center;
  background-image: url("https://media.istockphoto.com/id/472336288/photo/out-of-focus-office-open-corridor-background.jpg?s=612x612&w=0&k=20&c=pjhaH7F7qVH8ku0x-XxSUjeioXB-SKKeuHm715liNhQ=");
  margin: 0;
  padding: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

